{% extends "core/base.html" %}  
<!-- Extends the base template "core/base.html" to inherit its structure -->

{% block title %} Log in {% endblock %}  
<!-- Defines the title of the page as "Sign Up" -->

{% block content %}  
<!-- Begins the content block that will be inserted into the base template -->

<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">  
  <!-- A container div with Tailwind CSS classes for width, spacing, background color, and rounded corners -->

  <h1 class="mb-6 text-3xl">Log in</h1>  
  <!-- Main heading for the signup form -->

  <form method="post" action=".">  
    <!-- Form for user signup with method set to POST, submitting data to the same URL -->

    {% csrf_token %}  
    <!-- CSRF token for security, preventing cross-site request forgery attacks -->

    <div class="mb-3">
      <label class="inline-block mb-2">Username</label><br />
      {{ form.username }}  
      <!-- Renders the username input field from the Django form -->
    </div>

    

    <div class="mb-3">
      <label class="inline-block mb-2">Password</label><br />
      {{ form.password }}  

      <!-- Renders the first password input field from the Django form -->
    </div>

   

    {% if form.errors or form.non_field_errors %}  
    <!-- Checks if there are any form validation errors (either field-specific or general errors) -->

    <div class="mb-3 p-6 bg-red-100 rounded-xl">  
      <!-- Error message container with Tailwind styling for padding, background color, and rounded corners -->

      {% for field in form %}  
      {{ field.errors }}  
      {% endfor %}  
      <!-- Loops through each form field and displays its associated error messages -->

      {{ form.non_field_errors }}  
      <!-- Displays general form errors that are not specific to any single field -->

    </div>

    {% endif %}  

    <button
      class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white"
    >
      Submit
    </button>  
    <!-- Styled submit button for form submission -->

  </form>
</div>

{% endblock %}  
<!-- Ends the content block, ensuring content is placed in the correct section of the base template -->
